.img1 {
    display: flex;
    padding: 20px;
    justify-content: center;
}
footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
}
.social-icons {
    margin: 20px 0;
}
.social-icons a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}
.social-icons a:hover {
    color: #00258b;
}